.hamburger {
  display: none;
}
.log_reg_button_div{
  display:flex;
  gap:1rem;
}
.chevron_div {
   margin-left:0px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top:300px;
 border-top:1px solid #E2E2E3;
 border-bottom:1px solid #E2E2E3;
border-right:1px solid #E2E2E3;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
 
  
}
.sidebar{
  z-index:9999999;
  position:relative;  
}
.fake{
  display:none;
}
.chevron_icon {
  border: 2px solid #8F00FF;
  border-radius: 50%;

  padding: 1px;
  color: #8F00FF;
  z-index: 9999999999999999999934324343999;
}
.appbar{
 
  z-index:-0;
}

.nav_div_left2{
  display:none;
}
.sidebar_bottom_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  gap:1rem;
  margin-left:0.8rem;
  margin-top:0.5rem;
 

}

.closedDrawer .sidebar_bottom_div{

  
  gap:0.2rem !important;
  
  
}
.openDrawer .sidebar_bottom_div {

  

}


.bottom_div_img{
  pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;
  width:1.3rem;
  height:auto;
}
.bottom_div_img:hover{
  transform: scale(110%);
  transition: 0.3s;

}
.layer {
     display:none;
}

.sidebar_360img {
  pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;
  width: 10rem;
  

  height: auto;
 
}
.sidebar_360img:hover{
  transform: scale(110%);
  transition: 0.3s;

}
.closedDrawer .sidebar_360img {
  position: absolute;
  left: 0.5rem;     /* örnek */
  top: 1rem;       /* örnek */
  margin-left:-4.7rem;
  transition: all 0.3s ease;
}

/* Açık durum */
.openDrawer .sidebar_360img {
  position: absolute;
  left:1rem;
  top:1rem;

  transform: scale(1);
  transition: all 0.3s ease;
}
.closedDrawer .category {
  position:absolute;
  transition: all 0.3s ease;
  left:0.5rem;
  top:4rem;


}

/* Açık durum */
.openDrawer .category {
  position: absolute;
  top:4rem;
  left:0.5rem;

  transition: all 0.3s ease;



}
.closedDrawer .logout {
  position: absolute;
    top:3.5rem;
    left:-0.01rem;
  transition: all 0.1s ease;
}


/* Açık durum */
.openDrawer .logout {
  position: relative;
 
  transition: all 0.1s ease;
}


.sidebar_middle_text{
  display: flex;
  align-items: center;
  position:absolute;
  top:0.5rem;left:15rem;
  white-space: wrap;
width:28em;
  font-size: 1rem;
 align-self: center;
 justify-self: center;
  font-weight: 500;

}
.sidebar_middle_text img{
  pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;
  width:1.1rem;
  margin-top:0.2rem;
}
.sidebar_middle_text p{
  display: flex;
  justify-content: center;
  gap:0.5rem;

  align-items: flex-start;
}
.logo {
  position:sticky;
 
}

.logoClosed {
    transform: translateX(-85px);
}
.mobile_fav{
  display:none;
}
.logoOpen {
  transform: translateX(10px);
}


.search{
  display:flex;position: relative;
  align-items: center;
  margin-left:10px;
}
.navbar{
  display:flex;
  align-items: center;
   z-index: -9999999999999999999;
  justify-content:space-between;
}
.search_input{
  border:none;
  width:400px;
  height:40px;
  border-radius:10px;
  padding-left:17px;
  font-size: 16px;
}
.search_icon{
  position:absolute;
  right:5%;

}
.nav_div_left{
  display: flex;
  
}

.favourites_div{
  display:flex;
  align-items: center;
  border:2px solid #8F00FF;
  color:black;
  padding:2px 10px 2px 10px;
  border-radius:10px;
}
.search_icon:hover{
  cursor: pointer;
}
.nav_div_right{
  display: flex;
  align-items: center;
    gap:1rem;
  font-weight: 500;
  color:black;
  padding-right:1.8vw;
}
.noti_and_ticket{
  display:flex;

  align-items: center;
  border: 0.1rem solid #8F00FF;
  position:relative;
  border-radius:0.5rem;
  padding:0.1rem 0.4rem;

}
.noti_and_ticket a{
  display: flex;
  flex-direction: row;
  color:black;
  gap:0.3rem;
  align-items: center;
}
.noti_and_ticket a>img{
   pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;
  width:2.1rem;
  height:auto;
}
.noti_and_ticket a>img:hover{
  transform: scale(110%);
  transition: 0.3s;

}
.noti_and_ticket p{
  padding:0;
  margin:0;

  font-size:1.4rem;
  font-weight: 300;
 
  white-space: nowrap;
}
.profile{
   display:flex;
  flex-direction: column;
  align-items: center;
  margin-left:1.5rem;
  transition: 0.3s;

  
}
.profile:hover{
  transform: scale(110%);
  transition: 0.3s;


}
#profile_p{
  font-size:0.8rem;
  position:absolute;
  top:0.55rem;
  
}


.mobile_fav{
  display:none;
}
.loginButton{
  background: rgb(143,0,255);
  background: linear-gradient(137deg, rgba(143,0,255,1) 30%, rgba(189,0,255,1) 100%);
  color:white;
  border:none;
  border-radius:9px;
  font-weight:500;
  padding:5px 15px 5px 15px;
  border:1px solid rgba(255, 255, 255, 0);
  font-size:16px;
   transform: translateX(1rem);
  
}
.loginButton:hover{
  color:#8F00FF;
  background: linear-gradient(137deg, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%);
  border: 1px solid #8F00FF;
  font-weight:500;
}
.footer_left_top_ul_button{
  display: flex;
  flex-direction: column-reverse;
  
  align-items: flex-start;
}
.nav_div_left{
  display: flex;
  margin-left:7rem;
 
  align-items: center;
}

.sidebar_list{
    display:flex; 
    flex-direction: column;
  
  
  
}
.sidebar_item{
  color:black; display:flex; flex-direction: row;
  align-items: center; gap:1.5rem;
 
 padding:0px 0.1rem 0px 0.6rem;
 border-radius:1rem;
 width:12.5rem;
 
  transition: all 0.1s ease;
}
.closedDrawer .sidebar_item{
  transition: all 0.3s ease;

  width:3rem;
}
.telebe360text{
  

   color: rgb(255,130,1);


}

.sidebar_item:hover{
    background: linear-gradient(180deg, #A763DD 0%, #F06BF2 100%);
    color:white;
}
.sidebar_item_text{
   font-weight:600;
   width:8rem;
     overflow: hidden;
   text-overflow: ellipsis;
   font-size:16px;
}
.sidebar_item_text:hover{
}
.sidebar_item_icon{
    width:1.7rem;
    height:auto;
   

}
#alloffersimg{
    padding-top:1px;
}

.sidebar_item:hover .sidebar_item_icon{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.sidebar_item:hover #crownimg{
    filter: brightness(0) invert(1);
    padding-top:5px;

}
.sidebar_item:hover .telebe360text{
    color:white;
}
@media only screen and (max-width: 800px) {
    .chevron_div{
   display:none;
    
  }
  .chevron_div.closed {
    display: none;
  }
  
  .sidebar_middle_text{
    width:80%;
    font-size:3vw;
    top:3rem;
    bottom:0;
    left:1rem;
    justify-content: center;
   
  }
  .sidebar_middle_text img{

  width:2vw;
  margin-top:0.2rem;
}
.sidebar_middle_text p{
  font-size:2vw;
}
  .sidebar_360img {
 

    width:9rem;
  }
  .appbar{
    margin-bottom :-7rem;
  }
.nav_div_left2{
  display:block;
}
.nav_div_left{
  display: none;
}
  .nav_div_right{
    position:relative;
    gap:0.5rem;
    align-items: center;
   margin-right:0px;
  
  }
  .hide_chevron {
    display: none;
  }
  .navbar{
    display:flex; flex-direction: row;
    margin-bottom:5rem;
  
  }
.favourites_div{
  display:none;
}
  .hamburger {
    display: block;
    width:2rem;
    left:-90px;
    height:2rem;
     z-index:99999999999999;
    align-self: center;
   
  }
  .noti_and_ticket{
    border:none;
    
  }
  .search_input{
    width:50rem;
    height:40px;
    margin-left:5px;
    font-size:17px;
    padding-right:20px;
  }
  .feedback{
   
  }
  .navbar{
  
  }
  .loginButton{
   white-space: nowrap;
   transform: translateX(1rem);
   
  }
  
  .mobile_fav{
    display:block;margin-left:5px;
  
  }
  .mobile_fav img{
    width:10rem;
    margin-top:5px;
  }
  .ticket_logo{
    width:10rem;
  
    margin-right:5px;
  }
  .chevron_div{
    
   display:none;
  }
  .chevron_icon{
      
  }
  .sidebar {}
}

@media (max-width: 670px) {
.sidebar_middle_text{
    width:93%;
    top:7rem;
    bottom:0;
    left:1rem;
    justify-content: center;
   
  }
  .sidebar_middle_text img{

  width:3vw;
  margin-top:0.2rem;
}
.sidebar_middle_text p{
  font-size:3vw;
}
}


@media (max-width: 600px) {
  .chevron_div{
   display:none;
    
  }
  .navbar{
    justify-content:space-between;
    width:97vw;
    
  }
 
  .chevron_div.closed {
    display: none;
  }
  .layer{
    display:block;
  }
 
  .profile{
 
  }
  
}
 

@media only screen and (min-width: 2340px){
  .logoClosed{
    transform: translateX(-90px);
  }
}
