.hamburger {
  display: none;
}

.chevron_div {
   margin-left:-19px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  border-radius: 50%;
  padding: 4px 0vw 4px 20px;
  display: flex;
  z-index: 1199;
  align-items: center;
  justify-content: flex-end;
  margin-top:300px;
  
}
.bottom_div_img{
  width:25px;
}
.fake{
  display:none;
}
.chevron_icon {
  border: 2px solid #8F00FF;
  border-radius: 50%;

  padding: 1px;
  color: #8F00FF;
  z-index: 9999999999999999999934324343999;
}
.appbar{
  margin-bottom :1rem;
  z-index:-0;
}
.sidebar{
  z-index:9999999;
}
.nav_div_left2{
  display:none;
}
.sidebar_bottom_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
}

.layer {
     display:none;
}

.sidebar_360img {
  width: 14rem;
  height: auto;
 
}
.sidebar_middle_text{
  display: flex;
  align-items: center;
  position:absolute;
  top:0;left:38vw;
  width:29vw;
  font-size: 1.1rem;

  font-weight: 500;

}
.sidebar_middle_text img{
  width:1.1rem;
  margin-top:0.2vw;
}
.sidebar_middle_text p{
  display: flex;
  justify-content: center;
  gap:0.5rem;

  align-items: flex-start;
}
.logo {
  position:sticky;
 
}

.logoClosed {
    transform: translateX(-85px);
}
.mobile_fav{
  display:none;
}
.logoOpen {
  transform: translateX(10px);
}


.search{
  display:flex;position: relative;
  align-items: center;
  margin-left:10px;
}
.navbar{
  display:flex;
  align-items: center;
   z-index: -9999999999999999999;
  justify-content:space-between;
}
.search_input{
  border:none;
  width:400px;
  height:40px;
  border-radius:10px;
  padding-left:17px;
  font-size: 16px;
}
.search_icon{
  position:absolute;
  right:5%;

}
.nav_div_left{
  display: flex;
  
}
.ticket_logo{
  width:40px;
}
.favourites_div{
  display:flex;
  align-items: center;
  border:2px solid #8F00FF;
  color:black;
  padding:2px 10px 2px 10px;
  border-radius:10px;
}
.search_icon:hover{
  cursor: pointer;
}
.nav_div_right{
  display: flex;
  align-items: center;
  gap:20px;
  margin-right:30px;
}
.noti_and_ticket{
  display:flex;
  align-items: center;
  gap:5px
}
.mobile_fav{
  display:none;
}
.loginButton{
  background: rgb(143,0,255);
  background: linear-gradient(137deg, rgba(143,0,255,1) 30%, rgba(189,0,255,1) 100%);
  color:white;
  border:none;
  border-radius:9px;
  font-weight:500;
  padding:5px 15px 5px 15px;
  border:1px solid rgba(255, 255, 255, 0);
  font-size:16px;
  
}
.loginButton:hover{
  color:#8F00FF;
  background: linear-gradient(137deg, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%);
  border: 1px solid #8F00FF;
  font-weight:500;
}
.footer_left_top_ul_button{
  display: flex;
  flex-direction: column-reverse;
  
  align-items: flex-start;
}
.nav_div_left{
  display: flex;
  margin-left:7vw;
 
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .sidebar_middle_text{
    width:100%;
    font-size:3.3vw;
    top:18vw;
    bottom:0;
    left:2vw;
    justify-content: center;
   
  }
  .sidebar_360img {
    margin-left:1vw;
    margin-top:1vw;
    width:9rem;
  }
  .appbar{
    margin-bottom :-3vw;
  }
.nav_div_left2{
  display:block;
}
.nav_div_left{
  display: none;
}
  .nav_div_right{
    position:relative;
    align-items: center;
   margin-right:0px;
  
  }
  .hide_chevron {
    display: none;
  }
  .navbar{
    display:flex; flex-direction: row;
    margin-bottom:5vw;
  
  }
.favourites_div{
  display:none;
}
  .hamburger {
    display: block;
    width:9vw;
    left:-90px;
    height:9vw;
     z-index:99999999999999;
    align-self: center;
   
  }
  .noti_and_ticket{
    
  }
  .search_input{
    width:50vw;
    height:40px;
    margin-left:5px;
    font-size:17px;
    padding-right:20px;
  }
  .feedback{
   
  }
  .navbar{
  
  }
  .loginButton{
    font-size:4vw;
    width:23vw;
    margin-left:-6vw;
  }
  
  .mobile_fav{
    display:block;margin-left:5px;
  
  }
  .mobile_fav img{
    width:10vw;
    margin-top:5px;
  }
  .ticket_logo{
    width:10vw;
  
    margin-right:5px;
  }
  .chevron_div{
    
   display:none;
  }
  .chevron_icon{
      
  }
  .sidebar {}
}




@media (max-width: 600px) {
  .chevron_div{
   display:none;
    
  }
  .chevron_div.closed {
    display: none;
  }
  .layer{
    display:block;
  }
 
  .profile{
 
  }
}
 
@media only screen and (min-width: 800px){
   
}
@media only screen and (min-width: 2340px){
  .logoClosed{
    transform: translateX(-90px);
  }
}