.container{

   margin-top:0vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.container h1{
   text-align: center;
}
.div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  margin-left:5vw;
 
}
.banner_desktop{
     width:91vw;
    margin-left:5vw;
}
.div .mobile_slider{
    display:none;
}

.table{
   
}
.banner_mobile{
    display:none;
}
.down_banner{
}
.banner_mobile2{
 display:none;
     
}


@media only screen and (max-width: 800px){
    .container{
        margin:0;   
    }
    .div .desktop_slider{
        display:none;
    }
    .div{
      margin-left:-1vw;
    }
    .container h1{
     }
   .div .mobile_slider{
        display:block;
    }
    .banner_mobile{
        display:block;
        width:98vw;
    }
    .banner_mobile2{
   
        display:block;
         
    }
    .banner_desktop{
        display:none;
    }
    .up_banner{
    
    }
    .table{
    
    }
}