.container{
   margin-left:10vw;
   margin-top:0vw;
}
.container h1{
   text-align: center;
}
.div{
    display:flex;
    flex-direction: column;
 
 
}
.div .mobile_slider{
    display:none;
}
.table{
    margin-left:3vw;
}
.banner_mobile{
    display:none;
}
.down_banner{
}
.banner_mobile2{
 display:none;
     
}

@media only screen and (max-width: 800px){
    .container{
        margin:0;   
        margin-left:3vw;
    }
    .div .desktop_slider{
        display:none;
    }
    .div{
        margin-left:-5vw;
    }
    .container h1{
     }
   .div .mobile_slider{
        display:block;
    }
    .banner_mobile{
        display:block;
        width:98vw;
    }
    .banner_mobile2{
        margin-left:0.5vw;
        display:block;
         
    }
    .banner_desktop{
        display:none;
    }
    .up_banner{
    
    }
    .table{
    
    }
}
@media only screen and (max-width: 400px){
    .banner_mobile{
        width:106vw;
    }
    .container{
        margin-left:0rem;
        padding-left:1rem;
    }
}
@media only screen and (max-width: 330px){
      .banner_mobile{
        width:120vw;
    }
    .container{
        margin-left:0rem;
        padding-left:1rem;
    }
}