@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

.carousel{
    width:100vw;
    height:100%;
    margin-bottom:10vw;
    
}/* 🔥 arkaplan wrapper’dan gelecek */
.card_wrapper_mob{
  display: inline-block;
  width:55vw;
  height:43vw;
  background: url("/ticket_design_mobil.svg") center / 100% 100% no-repeat;
  text-decoration: none;
}

/* 🔥 içerik transparan */
.card_div{
  width:100%;
  height:100%;
  position:relative;

  background: transparent;
  border: none;
  box-shadow: none;

  border-radius:0;     /* background svg zaten rounded ise gerek yok */
  padding:1vw;         /* içeride boşluk */
}

.mobcardiv{

}

.card_pp img{
   width:100%;
 
}
.discount_span{
    display: inline-block;
       font-weight: 500;
       font-size:12vw;
   border:transparent;
    background:transparent;
   justify-content: center;
     color:#2F0D4A;
}
.card_pp{
    width:13vw;    height:13vw;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:1;
    overflow:hidden;
      position:absolute;
      top:3vw;left:3vw;
    border-radius:50vw;
    border:0.2vw solid black;
}
.card_bottom{
    display:flex;
    flex-direction:column;
   position:absolute;
   bottom:2vw;     font-family: 'DM Sans', sans-serif; 
}
.card_text_div{
    display:flex;
    flex-direction: column;     font-family: 'DM Sans', sans-serif; 
    align-items: left;
    margin-left:15vw;
    text-align: left;
    padding-top:4vw;
    margin-bottom:-2vw;
    
}
.card_text_div h2{
    margin:0;
    margin-left:2vw;
    font-size:4vw;

    width:35vw;
    align-items:start;
   text-wrap: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.card_text_div p{
    width:70%;
    margin:0;margin-left:2vw;
    font-size:2.5vw;font-weight: 500;
    align-items:start;
     width:35vw;
    align-items:start;
   text-wrap: nowrap;
   overflow: hidden;
}
.card_button_div{
    display:flex;
    justify-content:space-between;
   width:100%;
}
.card_button_div button{
    font-size:3vw;     font-family: 'DM Sans', sans-serif; font-weight: 600;
    margin-left:4vw;
}

#but1{
  
    color:black;
   border-radius:1vw;border:transparent;

background:transparent;

   margin-right:0vw;
   white-space: nowrap;
}
.card_bottom_right{
    display:flex;
}
#but1 .card_bottom_right img{
   width:4vw;
}
#but2 .card_bottom_right img{
   width:4vw;
}
#but3 .card_bottom_right img{
   width:4vw;
}
#but1>h2{
   color:#B5B5AF;
   font-size:3vw;
   font-weight:300;
   margin-bottom:-2vw;
   margin-left:-3vw;
   font-style:italic;
}
#but2>h2{
   color:#B5B5AF;
   margin-bottom:-2vw;
   font-size:3vw;
   margin-left:-3vw;

   font-weight:300;
   font-style:italic;
}
#but3>h2{
   margin-bottom:-2vw;
   color:#B5B5AF;
   font-size:3vw;

   font-weight:300;
   font-style:italic;
}
#but2{

background:transparent;
    
   border-radius:1vw;border:transparent;
   white-space: nowrap;

}
#but3{
  
   border-radius:1vw;border:transparent;

background:transparent;

   
}