@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

.ticket_table{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
 
gap:2.5rem;

padding:0;

     
}
.card_div{
   border-radius:1rem;
    width:20rem;
    height:15rem;   
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background:#EEE8E2;
    position:relative;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
 
}

.card_div::before,
.card_div::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 3.5rem;
  background: #F5F4F5;
  top: 50%;
  transform: translateY(-50%);
  border-color:none;
  border-radius: 1rem;
  

}

.card_div::before {
  left: -20px;
  border-right: 0.2px solid rgba(0, 0, 0, 0.18);


}

.card_div::after {
  right: -20px;
  border-left: 0.2px solid rgba(0, 0, 0, 0.18);

}
.card_pp img{
   width:100%;
   pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;
 
}
.card_pp{
    width:4.9rem;    height:4.9rem;
    align-items: center;
    justify-content: center;
    z-index:1;
    overflow:hidden;
     margin-left:-0.5rem;
    border-radius:50rem;
}
.card_top{
    display:flex;
   gap:1rem;
    align-items: center;
    color:#2F0D4A;
}
.card_middle{
    padding:0px;
    margin:0px;
    margin-top:-2rem;
    align-items: center;
    justify-self: center;
    font-size:5rem;
    color:#2F0D4A;
    font-weight:800;
}
.card_bottom{
    display:flex;
    flex-direction:column;
   position:absolute;

}
.card_text_div{
    display:flex;
    flex-direction: column;    
    
}
.card_text_div h2{
    margin:0;
    padding:0;
    font-size:1.5rem;
    margin-bottom:-0.4rem;
}
.card_text_div p{
   
margin:0;
padding:0;
    font-size:1rem;font-weight: 500;
    

}
.card_button_div{
    display:flex;
     width:100%;
     gap:1rem;
    }
    
.card_button_div button{
      font-weight: 500;
   border:transparent;
    background:transparent;
   justify-content: center;
     color:#2F0D4A;


}
.card_button_div div{
    display:flex;
    font-size:1.1rem;
}
.card_button_section_div{
    position:absolute;
}

.card_button_div h2{
    font-weight: 300;   
    margin-bottom:-0.7rem; 
    font-size:0.9rem;
    font-style: italic;
    position:absolute;
    bottom:2.7rem;
    color:#B5B5AF;
}

#but1>p{
    border-right:1px solid black;
}

#but1{
    
    display:flex;
    flex-direction:column;
    
 margin-left:0;
  height:2.5rem;
}
    
#but2{
    display:flex;
    flex-direction:column;
   display:flex;height:2.5rem;
width:100%



  
}
#but1 div>p{
     padding-left:1rem;
     
  
}
#but2 div>p{
     border-left:1px solid  #B5B5AF;
     padding-left:1rem;
  white-space: nowrap;

     
  
}
#but3 div>p{
     border-left:1px solid #B5B5AF;
     padding-left:1rem;

  
}
.say{
    padding-left:1rem;
}
.gun{
    padding-left:1rem;
}
.giymet{
    padding-left:1rem;
}
#but3{
 display:flex;
    flex-direction:column;
   display:flex;height:2.5rem;


   
}
#but3>p{
    border-left:1px solid black;
}
.card_bottom_right{
    display:flex;
  flex-direction: row;
  font-size:1.3rem;
  gap:0.3rem;
  

}
.card_bottom_right img{
   margin:0;
   padding:0;
   pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;

}
.add2mob{
    display:none;
}
.add2desk{
  margin-left:-2vw;

}

@media only screen and (max-width: 800px)  {
  .ticket_table{
    margin:0;
    padding:0;
  
    
  
  }
  .add2desk{
    display:none;
  }
  .add2mob{
    display:block;
    
    margin-top:2rem;
    margin-left:0.5rem;
    margin-bottom:2rem;
    width:99vw;
 
    
  }

}
@media only screen and (max-width: 450px){
  .ticket_table{
    width:100%;
  }
  .card_div{
        width:11.5rem;
    height:9.5rem; 
    border-radius:0.5rem; 
  }
  
  .card_middle{
    font-size:3rem;
    margin-top:-0.8rem;
  }
  .card_div::before,
.card_div::after {
  content: "";
  position: absolute;
  width: 2rem;
  height:1.8rem;
  background: #F5F4F5;
  top: 50%;
  transform: translateY(-50%);
  border-color:none;
  border-radius: 0.5rem;
  

}
.card_text_div h2{
    margin:0;
    padding:0;
    font-size:1rem;
    margin-bottom:-0.3rem;
}

.card_text_div p{
   
margin:0;
padding:0;
    font-size:0.7rem;font-weight: 500;
    

}
.card_button_div{
    display:flex;
    
     gap:0rem;
     margin-left:-2rem;
    }
  .card_button_div div{
    display:flex;
    font-size:0.7rem;
}
.card_button_div h2{
    font-weight: 300;   
    margin-bottom:-0.7rem; 
    font-size:0.7rem;
    font-style: italic;
    position:absolute;
    bottom:2.7rem;
    color:#B5B5AF;
}
.card_pp{
    width:2.5rem;    height:2.5rem;
    align-items: center;
    justify-content: center;
    z-index:1;
    overflow:hidden;
     margin-left:-0.5rem;
    border-radius:50rem;
}

#but1{
    
    display:flex;
    flex-direction:column;
    
 margin-left:0;
  height:2.5rem;
}
    
#but2{
    display:flex;
    flex-direction:column;
   display:flex;height:2.5rem;
width:100%



  
}
#but1 div>p{
     padding-left:1rem;
     
  
}
#but2 div>p{
     border-left:1px solid  #B5B5AF;
     padding-left:1rem;
  white-space: nowrap;

     
  
}
#but3 div>p{
     border-left:1px solid #B5B5AF;
     padding-left:1rem;

  
}
.say{
    padding-left:1rem;
}
.gun{
    padding-left:1rem;
}
.giymet{
    padding-left:1rem;
}
#but3{
 display:flex;
    flex-direction:column;
   display:flex;height:2.5rem;


   
}
#but3>p{
    border-left:1px solid black;
}
.card_bottom_right{
    display:flex;
  flex-direction: row;
  font-size:1.2rem;
  gap:0.3rem;
  

}
.card_bottom_right img{
   margin:0;
   padding:0;
   width:1rem;
   pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;

}

}
@media only screen and (max-width: 400px){
  
  .add2mob{
 
    margin-top:6vw;
    margin-bottom:6vw;
    width:106vw;
  }
  .ticket_table{
    width:107vw;
    
  }
   .card_div{
        width:11.2rem;
    height:9.5rem; 
    border-radius:0.5rem; 
   
  }
  
  .card_middle{
    font-size:3rem;
    margin-top:-0.8rem;
  }
  .card_div::before,
.card_div::after {
  content: "";
  position: absolute;
  width: 2rem;
  height:1.8rem;
  background: #F5F4F5;
  top: 50%;
  transform: translateY(-50%);
  border-color:none;
  border-radius: 0.5rem;
  

}
.card_text_div h2{
    margin:0;
    padding:0;
    font-size:1rem;
    margin-bottom:-0.3rem;
}

.card_text_div p{
   
margin:0;
padding:0;
    font-size:0.7rem;font-weight: 500;
    

}
.card_button_div{
    display:flex;
    
     gap:0rem;
     margin-left:-2rem;
    }
  .card_button_div div{
    display:flex;
    font-size:0.7rem;
}
.card_button_div h2{
    font-weight: 300;   
    margin-bottom:-0.7rem; 
    font-size:0.7rem;
    font-style: italic;
    position:absolute;
    bottom:2.7rem;
    color:#B5B5AF;
}
.card_pp{
    width:2.5rem;    height:2.5rem;
    align-items: center;
    justify-content: center;
    z-index:1;
    overflow:hidden;
     margin-left:-0.5rem;
    border-radius:50rem;
}

#but1{
    
    display:flex;
    flex-direction:column;
    
 margin-left:0;
  height:2.5rem;
}
    
#but2{
    display:flex;
    flex-direction:column;
   display:flex;height:2.5rem;
width:100%



  
}
#but1 div>p{
     padding-left:1rem;
     
  
}
#but2 div>p{
     border-left:1px solid  #B5B5AF;
     padding-left:1rem;
  white-space: nowrap;

     
  
}
#but3 div>p{
     border-left:1px solid #B5B5AF;
     padding-left:1rem;

  
}
.say{
    padding-left:1rem;
}
.gun{
    padding-left:1rem;
}
.giymet{
    padding-left:1rem;
}
#but3{
 display:flex;
    flex-direction:column;
   display:flex;height:2.5rem;


   
}
#but3>p{
    border-left:1px solid black;
}
.card_bottom_right{
    display:flex;
  flex-direction: row;
  font-size:1.2rem;
  gap:0.3rem;
  

}
.card_bottom_right img{
   margin:0;
   padding:0;
   width:1rem;
   pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;

}
 

}
@media only screen and (max-width: 360px){
    .ticket_table{
    margin:0rem;
 
  
  }
  .add2mob{

    margin-top:6vw;
    margin-bottom:6vw;
  }

}

@media only screen and (max-width: 330px){
  .ticket_table{
    margin:0rem;
  width:120vw;
  
  }
  .card_div{
    width:10.5rem;
  }
  
  
  .add2mob{
   width:120vw;
  }
  #but1{
    
    display:flex;
    flex-direction:column;
    
 margin-left:0;
  height:2.5rem;
}
    
#but2{
    display:flex;
    flex-direction:column;
   display:flex;height:2.5rem;
width:100%



  
}
#but1 div>p{
     padding-left:1rem;
     
  
}
#but2 div>p{
     border-left:1px solid  #B5B5AF;
     padding-left:0.6rem;
  white-space: nowrap;

     
  
}
#but3 div>p{
     border-left:1px solid #B5B5AF;
     padding-left:0.6rem;

  
}
.say{
    padding-left:1rem;
}
.gun{
    padding-left:0.6rem;
}
.giymet{
    padding-left:0.6rem;
}
.card_div::before,
.card_div::after {
  content: "";
  position: absolute;
  width: 1.8rem;
  height:1.8rem;
  background: #F5F4F5;
  top: 50%;
  transform: translateY(-50%);
  border-color:none;
  border-radius: 0.4rem;
  

}


}
