.main{
    margin-bottom:5vw;
}
.main_title{
    font-size: 3vw; display:flex; align-items: center;
    justify-content: space-between; padding-right:4.8vw;
    margin-left: 15vw;
}
.X{
    width:3.5vw;
    height:3.5vw;
}
.desktop_main {
    margin-left: 12vw;
}

.settings_ul {
    display: flex;
    gap: 2vw;
    font-size: 1.3vw;
    color: #828282;
    list-style: none;
    font-weight: 600;
}
.mobile_title{
    display:none;
}

.settings_ul .ul_360id{
    color: #8F00FF;
    border-bottom: 0.2vw solid #8F00FF;
}
.ul_360id:hover{
    border-bottom:none;
}

.ul:visited{
    color: #828282;
}
.ul{
    color: #828282;
}
.settings_ul li {
    padding-left: 0.5vw;
    cursor: pointer;
    padding-right: 0.5vw;
}

.settings_ul li:hover {
    color: #8F00FF;
    border-bottom: 0.2vw solid #8F00FF;
}

.mobile_main {
    font-family: 'DM Sans', sans-serif;
    margin-left: 4vw;
    display: none;
}

.desktop_main {
    display: block;
}
/* ayrac*/
.comingsoon{
  
}
.references_content {
  display: flex;
  margin-top:2vw;
  padding-bottom:1vw;
  margin-left:2.5rem;
  padding-left:0.5rem;
  align-items: center;
  justify-content: space-between;
  margin-right:5vw;
  padding-right:1vw;
border-bottom:1px solid #828282
}


.referral_title {
  margin: 0;
  font-size: 1.1vw;
}

.referral_code_btn {
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 9999px;
  padding: 0.5vw 1vw;
  display: inline-flex;
  align-items: center;
  gap: 0.5vw;
  font-size:1vw;
  border-radius: 0.3rem;
  cursor: pointer;
}

.referral_code_text {
  color: #8F00FF;
  font-weight: 500;
}
.referral_copy_icon{
    width:1.2vw;
}
/* mobil görünüm üçün */


@media only screen and (max-width: 800px) {
    .references_content{
         align-items: flex-start;
         border:none;
         margin:0;
         padding:0;
       
         background: white;
         margin-left:-7vw;
         padding:2vw;
         border-radius:0.7rem;
         width:98%;
        flex-direction: column;
    }
    .referral_title{
        font-size: 3vw;
        font-weight: 600;
    }
    .referral_code_btn{
        font-size:3vw;
    }
    .referral_copy_icon{
        width:3vw;
    }
    .comingsoon{
        left:0%; position:absolute;
        right:4%;
        top:20%;
    }
        .main_title{
            display:none;
        }
        .desktop_main{
         display: flex; flex-direction: column;
        }
          .toggle{
          position:absolute;
          top:-3.5vw;
          left:-1vw;
        }
        .settings_ul{
            display:none;
        }
        .mobile_title{
            display:block;
            display:flex;
            align-items: center;
            margin-left:5vw;
            margin-top:2vw;
        }
        .mobile_title h3{
            font-size:4vw;
            margin-left:28vw;
        }
        .chevron_left{
            width:4vw;
            height:4vw; 
            cursor: pointer;
        } 
        /* ayrac */
        .dropdown{
            margin-left:20vw;
        }
    }