@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

.body{
}

/* ✅ Bu sayfaya özel “taşmayı” kes */
.main_container{
  font-family: 'DM Sans', sans-serif; 
  display:flex;
  flex-direction: column;
  width:91vw;

  /* ✅ kritik: ortala ve taşmayı engelle */
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
}

.mobilebanner{
  display:none;
}

.footer{
  width:100%;
  height:100%;
  bottom:0vw;
  z-index:-1;
  position:relative;
}

.ppdiv{
  display:inline-block;
  border:0.2vw solid black;
  border-radius:50vw;
  padding:0;
  margin-right:13vw;
  height:3.99vw;
  margin-left:1vw;
  color:black;
  text-decoration: none;
}

/* ❗ padding:-5vw geçersiz; iOS’ta saçmalatabiliyor */
.card{
  background:white;
  border-radius:2vw;
  list-style:none;
  text-decoration: none;
  color:black;
  width:22vw;
  height:17vw;
  padding:0;                 /* ✅ */
  display:flex;
  flex-wrap:wrap;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.card_p{
  display:inline-block;
  padding:0;
  margin-top:-1vw;
  color:black;
  margin-left:1vw;
}

.but_div{
  margin-left:1vw;
  display:flex;
  padding-bottom:2vw;
  height:1vw;
}

.percent{
  margin-left:4.5vw;
  background:#E3E2E3;
  padding:0.2vw;
  display:inline-block;
  font-size:1.4vw;
  text-decoration: none;
  color:#B179F4;  
  border-radius:0.3vw;
  height:2vw;
}

.but_div button{
  padding:0.5vw;
  height:2.5vw;
}

.woltbut{
  background:#E3E2E3;
  border:none;
  border-radius:0.3vw;
}

.todaybut{
  border:none;
  background:#FC6766;
  color:white;
  border-radius:0.3vw;
}

.but_div button{
  margin-right:1vw;
  padding-left:1vw;
  font-size:1.2vw;
  padding-right:1vw;
}

.card_p p{
  font-size:1.5vw;
  margin-top:-1.5vw;
}

.cardtop{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.card_p h3{
  font-size:1.5vw;
}

.card_pp{
  width:4vw;
  border-radius:50vw;
  height:4vw;
}

.bookmarkcard{
  width:2.5vw;
  height:2.5vw;
  margin-top:-2vw;
  margin-bottom:0;
}

.categories_div{
  display:none;
}

.card_div{
  display:flex;
  flex-wrap: wrap;
  gap:3vw;

  /* ✅ taşmayı burada da kes */
  width: 100%;
  overflow-x: hidden;
}

/* ✅ kritik: margin-left ile itme kaldır */
.banner{
  width:91vw;
  margin: 0 auto;            /* ✅ */
}

.add2mob{
  display:none;
}

.deskweekbest{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left:4vw;
  font-size:1.9vw;
  font-weight: 700;
}

.deskweekbest p{
  margin-left:-20vw;
}

.mobfooter{
  display:none;
}

/* ✅ kritik: margin-left kaldır, çünkü Table4 + Counter taşırınca iOS scale yapıyor */
.ticket_table_div{
  align-items: center;
  justify-content: center;
  margin-left:0;             /* ✅ */
  width: 100%;
  overflow-x: hidden;        /* ✅ */
}

.ticket_table_h2{
  font-size:2.1rem;
  margin-bottom:3rem;
  margin-top:1rem;
  align-self: center;
  justify-self: center;
}

.table_div{
  justify-self: center;
  align-self: center;
  width: 100%;
  overflow-x: hidden;        /* ✅ */
}

@media only screen and (max-width: 820px) {

  .ticket_table_div{
    margin-left:0;           /* ✅ */
  }

  .ticket_table_h2{
    font-size:2rem;
    white-space: nowrap;
    margin-bottom:5vw;
    margin-top:0vw;
  }

  .main_container{
    width:96vw;
    margin: 0 auto;
  }

  .footer{
    display:none;
  }

  .mobfooter{
    display:block;
    height:100%;
    bottom:0vw;
    z-index:-1;
    position:relative;
  }

  .card{
    width:53vw;
    height:40vw;
    margin-left:0;           /* ✅ -1vw kaldır */
    border-radius:4vw;
  }

  /* ✅ kritik: NEGATIF marginleri kaldır */
  .card_div{
    justify-content: center;
    gap:7vw;
    margin-left:0;           /* ✅ */
    margin-right:0;          /* ✅ */
  }

  .ppdiv{
    width:10vw;
    height:10vw;
    margin-right:30vw;
  }

  .bookmarkcard{
    margin-top:-5vw;
    width:7vw;
    height:7vw;
  }

  .cardtop{
    margin-top:1vw;
    margin-left:2vw;
  }

  .categories_div{
    display:flex;
    align-items: left;
    flex-direction: column;
    margin-left:0;           /* ✅ -9vw kaldır */
  }

  .categories_ul{
    display:flex;
    align-items: center;
    gap:3vw;
    margin-left:0;           /* ✅ -10vw kaldır */
    margin-top:-3vw;
    list-style: none;
    flex-direction: row;
  }

  .category_p{
    font-size:3.5vw;
    margin-top:1vw;
    font-weight:800;
  }

  .percent{
    font-size:3vw;
    display:flex;
    align-items: center;
    justify-content: center;
    height:5vw;
    font-weight: 900;
    margin-right:0.6vw;
    border-radius: 1.1vw;
    margin-left:12vw;
  }

  .but_div{
    margin-left:3vw;
  }

  .but_div button{
    font-size:3vw;
    padding:2vw;
    display:flex;
    align-items: center;
    height:5vw;
    border-radius:1.1vw;
  }

  .card_p h3{
    margin-top:1vw;
    font-size:4vw;
    margin-bottom:2vw;
  }

  .card_p{
    margin-left:3vw;
    margin-top:3vw;
  }

  .card_p p{
    font-size:2.5vw;
    margin-top:-2vw;
  }

  .mobilebanner{
    display:block;
    margin: 0 auto;          /* ✅ */
    width:96vw;
  }

  .banner{
    display:none;
  }

  .deskweekbest{
    display:none;
  }

  .mobweekbest{
    display:flex;
    flex-direction: column;
    align-items: left;
    margin-left:0;           /* ✅ -10vw kaldır */
    font-size:5vw;
    font-weight: 800;
  }

  .add2desk{
    display:none;
  }

  .add2mob{
    display:block;
  }
}
