@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

.body{
  
    
}
.mobilebanner{
    display:none;
    
}
.footer{
    width:100%;
    height:100%;
    bottom:0dvw;
    z-index:-1;
    position:relative;
}
.ppdiv{
    display:inline-block;
    border:0.2dvw solid black;
    border-radius:50dvw;
    padding:0;
     margin-right:13dvw;
    height:3.99dvw;
    margin-left:1dvw;
    color:black;
    text-decoration: none;
}
.card{
   background:white;border-radius:2dvw;
   list-style:none;
   text-decoration: none;
   color:black;
   width:22dvw;
   height:17dvw;
   padding:-5dvw;
   display:flex;
   flex-wrap:wrap;
   
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
   
}
.main_container{
    
       font-family: 'DM Sans', sans-serif; 
       display:flex;
        flex-direction: column;
        width:91dvw;
    
  
    
}

.table_div{

}
.card_p{
  display:inline-block;
  
  padding:0;
  margin-top:-1dvw;
    color:black;
  margin-left:1dvw;
}
.but_div{
    margin-left:1dvw;
    display:flex;
    padding-bottom:2dvw;
  height:1dvw;
    
}
.percent{
    margin-left:4.5dvw;
    background:#E3E2E3;
    padding:0.2dvw;
    display:inline-block;
    font-size:1.4dvw;text-decoration: none;
    color:#B179F4;  
    border-radius:0.3dvw;
    height:2dvw;
}
.but_div button{
    padding:0.5dvw;
    
    height:2.5dvw;
}
.woltbut{
    background:#E3E2E3;
    border:none;
    border-radius:0.3dvw;
}
.todaybut{
    border:none;
    background:#FC6766;
    color:white;
    border-radius:0.3dvw;
}
.but_div button{
    margin-right:1dvw;
    padding-left:1dvw;
    font-size:1.2dvw;
    padding-right:1dvw;
}
.card_p p{
    
    font-size:1.5dvw;
    margin-top:-1.5dvw;
}
.cardtop{
    display:flex;
    
   flex-direction: row;
   align-items: center;
    
}
.card_p h3{
    font-size:1.5dvw;
}

.card_pp{
    width:4dvw;
    border-radius:50dvw;
    height:4dvw;
}

.bookmarkcard{
    width:2.5dvw;
    height:2.5dvw;
    margin-top:-2dvw;
    margin-bottom:0;

}
.categories_div{
    display:none;
}
.card_div{
    display:flex;
    flex-wrap: wrap;
    gap:3dvw;
}
.banner{
    width:91dvw;
    margin-left:7.5dvw;
}


.add2mob{
    display:none;
}
.deskweekbest{
    display:block;
    display:flex;
    flex-direction: column;
    align-items: center;margin-left:4dvw;
    font-size:1.9dvw;
    font-weight: 700;
   }
   .deskweekbest p{
    margin-left:-20dvw;
   }
   .mobfooter{
    display:none;
   }
   .ticket_table_div{
     align-items: center;
     justify-content: center;
     margin-left:15dvw;
   }
   .ticket_table_h2{
    font-size:2.1rem;
    margin-bottom:3rem;
    margin-top:1rem;
    align-self: center;
    justify-self: center;
    
   }
   .table_div{
    justify-self: center;
    align-self: center; 

   }
@media only screen and (max-width: 820px) {
    .ticket_table_div{
        align-items: center;
        justify-content: center;
        margin-left:9dvw;
     
      }
      .table_div{
        margin-left:0dvw;
      }
      .ticket_table_h2{
       font-size:2rem;
       white-space: nowrap;
       margin-bottom:5dvw;
       margin-top:0dvw;
      
      }
    .main_container{
        margin-left:0dvw;
     
      display:flex;

      flex-direction: column;
     
   
     
 }
 
    
    .footer{
        display:none;
    }
    .mobfooter{
        display:block;
        
    height:100%;
    bottom:0dvw;
    z-index:-1;
    position:relative;
    }
    .card{
        width:53dvw;
        height:40dvw; margin-left:-1dvw;
        border-radius:4dvw;
    }
    .card_div{
        justify-content: center;
        gap:7dvw;
        margin-left:-10dvw;
    margin-right:-20dvw;
    }
    .ppdiv{
        width:10dvw;
        height:10dvw;
        
        
        margin-right:30dvw;
    }
    .bookmarkcard{
        margin-top:-5dvw;
        width:7dvw;
        height:7dvw;
    }
    .cardtop{
        margin-top:1dvw;
        margin-left:2dvw;
        
    }
    .categories_div{
        display:block;
        display:flex;align-items: left;flex-direction: column;margin-left:-9dvw;
    }
    .categories_div>p{
        font-size:6dvw;
        font-family: 'DM Sans', sans-serif; 
        font-weight: 800;
    }
    .category_div{
        width:10dvw;
        
        
        height:10dvw;
     
    }
    .category_li{
        border:1px solid #969696;
        border-radius:15dvw;
        display:flex; align-items: center;
        flex-direction: column;
        justify-content: center;
        padding:4dvw;
    }
    .categories_li{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    .categories_ul{
        display:flex;
        align-items: center;
        gap:3dvw;
      margin-left:-10dvw;
      margin-top:-3dvw;
        list-style: none;
        flex-direction: row;
    }
    .category_p{
        font-size:3.5dvw;
        margin-top:1dvw;
        font-weight:800;
    }
    .card_pp{
        width:10dvw;
        height:10dvw;
    }
    .percent{
        font-size:3dvw;
        display: flex;align-items: center;
        justify-content: center;
        height:5dvw;font-weight: 900;
        margin-right:0.6dvw;
        border-radius: 1.1dvw;
        margin-left:12dvw;
    }
    .but_div{
        margin-left:3dvw;
    }
    .but_div button{
        font-size:3dvw;
        padding:2dvw;
        display: flex;
        align-items: center;
        height:5dvw;
        border-radius:1.1dvw;
    }
    .card_p h3{
        margin-top:1dvw;
        font-size:4dvw;
        margin-bottom:2dvw;
    }
    .card_p{
        margin-left:3dvw;
        margin-top:3dvw;
    }
    .card_p p{
        font-size:2.5dvw;
        margin-top:-2dvw;
    }
 
   .mobilebanner{
    display:block;
     margin-left:2dvw;
     width:96dvw;
 
    
   }
   .banner{
    display:none;
 
   }
   .deskweekbest{
    display:none;
   }
   .mobweekbest{
    display:block;
    display:flex;
    flex-direction: column;
    align-items: left;margin-left:-10dvw;
    font-size:5dvw;
    font-weight: 800;
   }
   .add2desk{
    display:none;
   }
   .add2mob{
    display:block;
    
   }
}
@media only screen and (max-width: 380px){
 

}
@media only screen and (max-width: 360px){


}
@media only screen and (max-width: 340px) {



}
