.drop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
}
.a{
    color:black;
    display:flex;
    align-items: center;
  
}


.dropdownbtn{
 
}
.ppdiv{
    width: 3rem; /* Kapsayıcı genişliği */
    height: 3rem; /* Kapsayıcı yüksekliği */
    border-radius: 50%; /* Yuvarlak şekil için */
    overflow: hidden; /* Taşan kısmı gizler */
    position: relative; /* Pozisyonlama için */
    background:#F2F3F2;
}
.ppbutton{
    width: 100%;
    height: auto;
    object-fit: cover; /* Resmin kapsayıcıyı tamamen kaplamasını sağlar */
    position: absolute; /* Konumlandırmayı ayarlamak için */
    top: 50%; /* Yükseklik ortalaması */
    left: 50%; /* Genişlik ortalaması */
    transform: translate(-50%, -50%); /* Ortalar */
    background:#F2F3F2;
}
.ppbutton1{
    margin:0;
    margin-left:30px;
    border:none;
   display: flex;
   background:#F2F3F2;
}
.dropdownp{
    font-weight: 600; font-size:14px;  width:9vw;
}
.chevron{
    width:1.2vw;
    height:1.2vw; justify-self:flex-end;display:none
}

.dropdown_li{
    border-radius:0vw; height:3vw !important;
    display:flex;align-items: center;
    gap:10px;
}
.dropdown_li:hover .dropdownbtn{
    filter: invert(25%) sepia(100%) saturate(2000%) hue-rotate(270deg) brightness(100%) contrast(100%);
   
}
.dropdown_li:hover .dropdownp{
    color:#8F00FF;
}
.dropdown_li:hover .chevron{
    display:block;
}
#logout_li:hover #logoutbtn{
    filter: invert(25%) sepia(100%) saturate(2000%) hue-rotate(340deg) brightness(100%) contrast(100%);


}
#logout_li:hover #logoutp{
    color:red;
}
#logout_li:hover #logoutchevron{
    filter: invert(25%) sepia(100%) saturate(2000%) hue-rotate(340deg) brightness(100%) contrast(100%);

}
.bulanik{
   margin-left:-2vw;
}
@media only screen and (max-width: 800px) {
    .drop {
        /* Ensure there's no unwanted size or margin in mobile view */
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    /* Check other properties that might affect the layout */
}

@media only screen and (max-width: 800px){
    .ppdiv{
        width: 12vw; /* Kapsayıcı genişliği */
        height: 12vw; /* Kapsayıcı yüksekliği */
        border-radius: 50%; /* Yuvarlak şekil için */
        overflow: hidden; /* Taşan kısmı gizler */
        position: relative; /* Pozisyonlama için */
    }
    .ppbutton{
        width: 100%;
        height: auto;
        object-fit: cover; /* Resmin kapsayıcıyı tamamen kaplamasını sağlar */
        position: absolute; /* Konumlandırmayı ayarlamak için */
        top: 50%; /* Yükseklik ortalaması */
        left: 50%; /* Genişlik ortalaması */
        transform: translate(-50%, -50%); /* Ortalar */
    }
    
    .ppbutton1{
        margin:0;
        padding:0;left:0vw;
        margin-left:20px;
    }
    .dropdownp{
        font-weight: 600; font-size:18px;  width:9vw;
    }
   
    .dropdown_li{
        border-radius:1vw; height:10vw !important; width:50vw;
    }
    
    .bulanik{
      
    }
    .dropdownbtn{
       width:5vw;
    }
    .bulanik{
    
  
        backdrop-filter: blur(1px);
     
    }
    .chevron{
        display:none;
    }
}
@media only screen and (min-width: 800px){
        .dropdown_li{
            width:14vw;
            
        }
}