.drop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
}
.a{
    color:black;
    display:flex;
    align-items: center;
  
}


.dropdownbtn{
 
}
.ppdiv{
    width: 3rem; 
    height: 3rem;
    border-radius: 50%; 
    overflow: hidden; 
    position: relative; 
    background:#F2F3F2;
}
.ppbutton{
    width: 100%;
    height: auto;
    object-fit: cover; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background:#F2F3F2;
    pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;
}
.ppbutton1{
    margin:0;
  
    border:none;
   display: flex;
   background:transparent;
}
.dropdownp{
    font-weight: 600; font-size:14px; ;
}


.dropdown_li{
    width:12rem !important;
    border-radius:0vw; height:3rem  !important;
    display:flex;align-items: center;
    gap:10px;
}
.chevron{
    width:1.2vw;
    height:1.2vw; justify-self:flex-end;display:none
}
.dropdown_li:hover .dropdownbtn{
    filter: invert(25%) sepia(100%) saturate(2000%) hue-rotate(270deg) brightness(100%) contrast(100%);
   
}
.dropdown_li:hover .dropdownp{
    color:#8F00FF;
}
.dropdown_li:hover .chevron{
    display:block;
}
#logout_li:hover #logoutbtn{
    filter: invert(25%) sepia(100%) saturate(2000%) hue-rotate(340deg) brightness(100%) contrast(100%);


}
#logout_li:hover #logoutp{
    color:red;
}
#logout_li:hover #logoutchevron{
    filter: invert(25%) sepia(100%) saturate(2000%) hue-rotate(340deg) brightness(100%) contrast(100%);

}
.bulanik{
   
  

}
